<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#000000">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.url }}"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p><a href="#fundamentals">1. DIC fundamentals</a></p>
        <p><a href="#DICtypes">2. Types of DIC algorithms</a></p>
        <p><a href="#patterning">3. Speckle patterning</a></p>
        <p><a href="#imaging">4. Image capturing</a></p>
        <p><a href="#calibration">5. Calibration</a></p>
        <p><a href="#errors">6. Validation and error evaluation</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p><a href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a> is a project for the experimental mechanics community created and maintained by <a href="http://wlepage.me/">Will LePage</a>. All content is licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a> and is provided without warranty. Thank you to <a href="https://github.com/orderedlist">orderedlist</a> for <a href="https://github.com/pages-themes/minimal">minimal</a>, the base of this page's theme. &copy {{ 'now' | date: "%Y" }}, Will LePage.</p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
